body {
  background-color: #28282B;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
 
}

.background::after {
 background-image: "/assets/rigby.jpg";
 opacity: .1;
 background-size: cover;
}

a {
  color: lightblue;
}
